In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'.\HAM10000_metadata.csv')
print(df.head(10))

     lesion_id      image_id   dx dx_type   age     sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0    male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0    male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0    male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0    male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0    male          ear
5  HAM_0001466  ISIC_0027850  bkl   histo  75.0    male          ear
6  HAM_0002761  ISIC_0029176  bkl   histo  60.0    male         face
7  HAM_0002761  ISIC_0029068  bkl   histo  60.0    male         face
8  HAM_0005132  ISIC_0025837  bkl   histo  70.0  female         back
9  HAM_0005132  ISIC_0025209  bkl   histo  70.0  female         back

In [3]:
df.columns

Index(['lesion_id', 'image_id', 'dx', 'dx_type', 'age', 'sex', 'localization'], dtype='object')

In [4]:
subset = df[['image_id', 'dx']]

In [5]:
subset.head(10)

       image_id   dx
0  ISIC_0027419  bkl
1  ISIC_0025030  bkl
2  ISIC_0026769  bkl
3  ISIC_0025661  bkl
4  ISIC_0031633  bkl
5  ISIC_0027850  bkl
6  ISIC_0029176  bkl
7  ISIC_0029068  bkl
8  ISIC_0025837  bkl
9  ISIC_0025209  bkl

In [6]:
subset.shape

(10015, 2)

In [7]:
subset = subset.rename(columns={'image_id':'id',
                          'dx':'label'})

In [8]:
subset.head()

             id label
0  ISIC_0027419   bkl
1  ISIC_0025030   bkl
2  ISIC_0026769   bkl
3  ISIC_0025661   bkl
4  ISIC_0031633   bkl

In [14]:
subset['id'] = subset['id'].apply(lambda x: x + '.jpg')

In [15]:
subset.head()

                    id label
4349  ISIC_0024306.jpg    nv
4263  ISIC_0024307.jpg    nv
4217  ISIC_0024308.jpg    nv
3587  ISIC_0024309.jpg    nv
1451  ISIC_0024310.jpg   mel

In [16]:
subset = subset.sort_values('id')

In [17]:
subset.to_csv("train.csv",index=False)

In [20]:
dd = pd.read_csv('train.csv')

In [21]:
dd.shape

(10015, 2)

In [23]:
dd.head(20)

                  id label
0   ISIC_0024306.jpg    nv
1   ISIC_0024307.jpg    nv
2   ISIC_0024308.jpg    nv
3   ISIC_0024309.jpg    nv
4   ISIC_0024310.jpg   mel
5   ISIC_0024311.jpg    nv
6   ISIC_0024312.jpg   bkl
7   ISIC_0024313.jpg   mel
8   ISIC_0024314.jpg    nv
9   ISIC_0024315.jpg   mel
10  ISIC_0024316.jpg    nv
11  ISIC_0024317.jpg    nv
12  ISIC_0024318.jpg    df
13  ISIC_0024319.jpg    nv
14  ISIC_0024320.jpg    nv
15  ISIC_0024321.jpg    nv
16  ISIC_0024322.jpg    nv
17  ISIC_0024323.jpg   mel
18  ISIC_0024324.jpg   bkl
19  ISIC_0024325.jpg    nv